<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">

        {{ partial "nav.html" . }}

        {{ partial "hero.html" . }}
        {{ partial "about.html" . }}
        {{ partial "details.html" . }}
        {{ partial "attractions.html" . }}
        {{ partial "contact.html" . }}
        {{ partial "aside.html" . }}

        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}
    </body>

    <footer>
    <script src="validation-functions.js"></script>
    </footer>
</html>
